.approach-guides-embed h1 {
  font-size: 19px;
  margin: 0 0 30px; }

.approach-guides-embed a {
  color: #0088cc; }
  .approach-guides-embed a:hover {
    color: #005580; }

.approach-guides-embed .item {
  *zoom: 1;
  margin: 0 0 40px; }
  .approach-guides-embed .item:before, .approach-guides-embed .item:after {
    display: table;
    content: "";
    line-height: 0; }
  .approach-guides-embed .item:after {
    clear: both; }

.approach-guides-embed .title {
  font-size: 15px;
  font-weight: 600;
  margin: 0 0 10px; }

.approach-guides-embed .meta,
.approach-guides-embed .tags {
  *zoom: 1;
  color: #999;
  float: left;
  font-size: 12px;
  list-style: none;
  margin: -10px -5px 20px;
  padding: 0; }
  .approach-guides-embed .meta:before, .approach-guides-embed .meta:after,
  .approach-guides-embed .tags:before,
  .approach-guides-embed .tags:after {
    display: table;
    content: "";
    line-height: 0; }
  .approach-guides-embed .meta:after,
  .approach-guides-embed .tags:after {
    clear: both; }
  .approach-guides-embed .meta ul,
  .approach-guides-embed .tags ul {
    margin-bottom: 0; }
  .approach-guides-embed .meta > li,
  .approach-guides-embed .tags > li {
    float: left;
    margin: 10px 5px 0; }
    .approach-guides-embed .meta > li > span,
    .approach-guides-embed .tags > li > span {
      float: left;
      margin-right: 10px; }

.approach-guides-embed .meta {
  margin: -10px -15px 20px; }
  .approach-guides-embed .meta > li {
    margin: 10px 15px 0; }

.approach-guides-embed .videoWrapper {
  margin-top: 20px; }
  .approach-guides-embed .videoWrapper.youtube, .approach-guides-embed .videoWrapper.vimeo {
    position: relative;
    padding-bottom: 56.25%;
    /* 16:9 */
    padding-top: 25px;
    height: 0; }
    .approach-guides-embed .videoWrapper.youtube iframe, .approach-guides-embed .videoWrapper.vimeo iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%; }

.approach-guides-embed .ag-logo {
  text-indent: -9999px;
  overflow: hidden;
  margin: 25px 0;
  height: 44px;
  clear: both; }
  .approach-guides-embed .ag-logo a {
    display: block;
    float: right;
    background: transparent url("approachguides-mastercurators.png") no-repeat;
    width: 180px;
    height: 44px; }
    @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
      .approach-guides-embed .ag-logo a {
        background-image: url("approachguides-mastercurators-2x.png");
        /* Translate the @2x sprite's dimensions back to 1x */
        background-size: 180px 44px; } }
